


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery li img {
    width: 360px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.gallery li {
    list-style-type: none;
}

.gallery li img:hover {
    transform: scale(1.05);
}